.header {
  margin: 0 auto;
}

.header__inner {
  text-align: center;
  padding: 20px 15px;
  border-bottom: 1px solid #DCDCDC;
}

.header__logo {
  display: inline-block;
  color: 	#BCB09C;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}